body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  height: 99vh;
  width: 99vw;
}

.titleDiv {
  border: 1px solid red;
}

.scoreDiv {
  border: 1px solid red;
}

.gameDiv {
  height: 100%;
  width: 100%;
  background: gray;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardDiv {
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  background: cornsilk;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  font-size: 4rem;
}
